/****************************************************************
 * Author: Samuel St John, stjoh1sr@cmich.edu
 * 
 * Simple styles for the Reveal My Plyr Media plugin for reveal.js.
 * 
 ****************************************************************/
 
 .demo-banner {
  font-family: sans-serif;
  top: 0;
  margin: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 1rem;
  text-align: center;
  color: #fcfcfc;
  position: fixed;
  justify-content: center;
  background-color: #4A4A4A;
  z-index: 9999;
  transition: all ease-out .2s;
}

#interactions {
	display: none;
}

.plyr--video {
	font-size: 0;
}